*
!*/
!/.gitignore
!/.editorconfig
!/README.md

!/.github/**/*.yml

!/docs/**/*.pdf

!/project/Makefile

!/project/assembler/main.py
!/project/assembler/test.py
!/project/test/setup.py

!/project/src/**/*.c
!/project/src/**/*.h

!/project/asm/**/*.s

!/project/hdl/**/*.v
!/project/cpu.qpf
!/project/cpu.qsf
!/project/cpu.sdc

!/project/reports/**/*.md
!/project/reports/**/*.png
!/project/reports/**/*.pdf

__pycache__
