*
!*/
!/.gitignore
!/.editorconfig
!/README.md

!/.github/**/*.yml

!/docs/**/*.pdf

!/project/Makefile

!/project/hdl/**/*.v
!/project/cpu.qpf
!/project/cpu.qsf

!/project/test/setup.py
!/project/test/*.mem

!/project/src/fpu.c

__pycache__
